img {
    filter: grayscale(50%);
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.border{
    border-radius: 15px;
    border: solid;
    border-color: #2800b8;
    overflow: hidden;
  }

  .card{
    padding: 5%;
    width: 90%;
    overflow: hidden;
  }

  .tint {
      height: 100%;
  }