.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.max-width{
  width: 100%;
  align-self: stretch;
  margin-left: 0px !important;
  margin-bottom: auto;
}

.height-fill{
  height: 100vh;
}

.curved-border{
  border-radius: 15px;
  border: solid;
  border-color: #61dafb;
  overflow: hidden;
  height: 98%;
}

.scroll {
  overflow: auto;
}

#dashboard{
  width: 25%;
  height: 100%;
}

#main-content{
  padding-left: .5%;
  padding-right: .5%;
  width: 48%;
}

#other-projects {
  width: 25%; /*TODO: border radius will wrap around if everything adds up to 100%*/
  margin-right: 0px;
  height: 100%;
}
